---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
---

<Layout title="Tesla">
  <!-- hacemos que scrollee el contenedor, no la pagina, para hacer el slider  -->

  <!-- el snap-y mandatory es para que al scrollear donde apenas aparezca la seccion, haga el salto -->
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <HeroSection />
    <ModelYSection />
  </main>
</Layout>
