---

---

<div class="snap-start">
  <section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
  >
    <!-- no pasa nada con usar dos header y dos footer en una pagina, ya que este es el header de la SECTION no de la pagina en si -->
    <div class="z-30 relative h-full flex flex-col">
      <header class="">
        <h2 class="text-[40px] text-white pt-40 font-medium">
          Disfrute de Tesla
        </h2>
        <p class="text-sm text-white">
          Programe una prueba de conduccion hoy mismo
        </p>
      </header>

      <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-20">
        <!-- envolvemos el boton en un div para que no tome todo el ancho del footer -->
        <div class="">
          <a
            class="text-sm py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
            href="#"><span>Prueba de conducción</span></a
          >
        </div>
      </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10">
      <video
        class="object-center object-cover h-full"
        src="/video.webm"
        autoplay
        muted
        loop></video>
    </div>
  </section>
</div>
