---

---

<div class="snap-start">
  <section
    id="modely"
    class="landing-section transition-all duration-300 bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
  >
    <!-- no pasa nada con usar dos header y dos footer en una pagina, ya que este es el header de la SECTION no de la pagina en si -->
    <div class="z-30 relative h-full flex flex-col">
      <header class="">
        <h2 class="text-[40px] text-black pt-40 font-medium">Model Y</h2>
        <p class="text-sm text-black underline">
          Concertar una prueba de conduccion
        </p>
      </header>

      <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-20">
        <!-- envolvemos el boton en un div para que no tome todo el ancho del footer -->
        <div
          class="flex flex-col px-6 justify-center gap-y-4 sm:flex-row sm:gap-x-6"
        >
          <a
            class="text-sm py-2 px-12 border-[3px] border-black/5 rounded cursor-pointer hover:bg-black/90 hover:border-black/5 hover:backdrop-blur-3xl bg-black/60 text-white transition-all duration-300"
            href="#"
          >
            <span>Explorar inventario</span>
          </a>

          <a
            class="text-sm py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-black/30 hover:border-gray-100/5 hover:backdrop-blur-3xl hover:text-white bg-white text-black transition-all duration-300"
            href="#"><span>Pedido personalizado</span></a
          >
        </div>
      </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10 w-full">
      <img
        class="object-center object-cover h-full w-full"
        src="model-y.avif"
        alt="modely"
      />
    </div>
  </section>
</div>
